/* Se centra el div y se le añade sombra*/
.center-div {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.accordion {
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  