.document {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.3rem;
    margin-bottom: 1.25rem;
    transition: background-color 0.3s;
}
.document:hover {
    background-color: #ECECEC;
}
.document img {
    max-width: 6.25rem;
    margin-right: 1.25rem;
}
.document-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.section-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}
.section-title img {
    margin-right: 0.625rem;
}
hr {
    border-top: 0.0625rem solid #000;
    margin: 0.625rem 0;
}